@CHARSET "UTF-8";
.flex-container {
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 100px;
    align-items: center;
}

.food_img{
	width: 250px;
    height: 250px;
    margin: 25px;
}

.row--flex{
  display: flex;
  flex-wrap: wrap;
}
.block--dynamic {
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  float: left;
  font-weight: bold;
  background-color: #e4e4e4;
  list-style: none;
  border: 2px solid #fff;
  padding: 16px;
}

$max-per-row: 4;
$total-blocks: 12;

@function limit($i) {
  @if $i > $max-per-row { @return $max-per-row }
  @else { @return $i }
}

@for $i from 1 through $total-blocks {
  .block--dynamic:first-child:nth-last-child(#{$i}),
  .block--dynamic:first-child:nth-last-child(#{$i}) ~ .block--dynamic {
    width: 100% / limit($i);
  }
}