
.flex-container {
  padding-top:1em;
  padding-bottom:1em;
  margin-left: 15em;
  margin-right: 15em;
  margin-bottom: 7em;
  list-style: none;
  
  background: rgba(255, 255, 255, 1);
  
   border-radius: 10px;
   text-align: center;
}

.flex-item {
  background: white;
  padding: 0px;
  width: 350px;
  height: 350px;
  margin-top: 10px;
  color: black;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
}

.btn {
	margin-top: 5px;
}