@media (min-width: 930px) {
.flex-container {
  padding-top:1em;
  padding-bottom:1em;
  margin-left: 15em;
  margin-right: 15em;
  margin-bottom: 7em;
  list-style: none;
  
  background: rgba(255, 255, 255, 1);
  
   border-radius: 10px;
   text-align: center;
	}
}



@media (max-width: 930px) and (min-width: 270px) {
	.flex-container {
 	 padding-top:1em;
 	 padding-bottom:1em;
 	 margin-bottom: 7em;
 	 list-style: none;
  
 	 background: rgba(255, 255, 255, 1);
  
 	 border-radius: 10px;
  	 text-align: center;
	}
}